In [ ]:
num = int(input('1~100 >>>'))
if num%2 ==0 :
    print('짝수')
else:
    print('홀수')

In [ ]:
import datetime
today = datetime.datetime.now()
print(type(today))

In [ ]:
import datetime
today = datetime.datetime.now()
if today.weekday() >= 5: # 요일값 0 월 1 화 ~ 5토, 6일
    print("주말")
else:
    print('평일')

In [ ]:
grade = ''
num = 90
if num >= 90:
    grade = 'a'
elif num>=80:
    grade = 'b'
elif num>=70:
    grade = 'c'
elif num>=60:
    grade = 'd'
elif num>=50:
    grade = 'e'
else :
    grade = 'f'

print(f'num= {num}, garde={grade}')

In [ ]:
# 삼항 연산자
grade = "합격" if num >= 60 else "불합격"
print('3항 연산자 :', grade)

In [ ]:
s = input('str >>')
if 'hong' is s

In [ ]:
grade = ''
num = 96
if num >= 90:
    grade = 'a'
    if num >95:
        grade = 'a+'
elif num>=80:
    grade = 'b'
elif num>=70:
    grade = 'c'
elif num>=60:
    grade = 'd'
elif num>=50:
    grade = 'e'
else :
    grade = 'f'

print(f'num= {num}, garde={grade}')

In [ ]:
# while : 횟수가 정해지지 않았을 때
# for, range() : 횟수가 정해 졌을때 
# range가 파이썬에서는 중요하다.

In [ ]:
idx = tot = 0
while idx < 5:
    idx += 1
    tot += idx
    idx += 1
print(idx, tot)

###  1 ~ 100까지 3의 배수 합

In [ ]:
# numb = temp = summ = 0
# while numb <= 100:
#     if numb % 3 ==0:
#         temp = numb
#         summ += temp
#     elif numb % 3 ==0: 
#         break
#     else :
#         numb == 100
# print(summ)

### 1 ~ 100까지 3의 배수의 합

In [ ]:
#cnt = tot = 0
# while cnt < 100:
#     cnt =cnt +1
#     if cnt % 3 == 0:
#         tot = tot + cnt
#         print(cnt, end = '')

# tot

In [ ]:
cnt = tot = 0
dataset=[]
while cnt < 100:
    cnt =cnt +1
    if cnt % 3 == 0:
        tot = tot + cnt
        dataset.append(cnt)

print(tot)
print(dataset)

In [ ]:
cnt = tot = 0
dataset=[]
while cnt < 100:
    cnt =cnt +1
    if cnt % 3 == 0:
        tot = tot + cnt
        dataset.append(cnt)

print(tot)
print(dataset, end = '')

In [ ]:
#1~100 사이에서 5의 배수이면서 (and) 3의 배수가 아닌 합의 계산하기

In [ ]:
-1, 3, -5, 7, -9 ~ 99 합을 구하시오.

In [ ]:
tot = idx = loc = 0
sign = -1
while idx < 100:
    idx += 1
    if idx % 2 == 1:
        if loc % 2 == 0:
            tot += (idx*sign)
            print(idx*sign, end = ' ')    
        else:
            tot += idx
            print(idx, end = ' ')
        loc += 1
tot

In [ ]:
tot = idx = loc = 0
sign = -1
while idx < 100:
    idx += 1
    if idx % 2 == 1:
        if loc % 2 == 0:
            tot += (idx*sign)
            print(idx*sign, end = ' ')    
        else:
            tot += idx
            print(idx, end = ' ')
        loc += 1
tot

In [ ]:
num1 = range(10) # 0~4
print('num1 : ', num1) # range(0, 10)

In [ ]:
names = ['hong', 'lee', 'u']
print(names)
print(names[1])
print(names[random.randint(0.2)])

In [ ]:
random.choies(names,k=2)

In [4]:
i = 0
while i < 10:
    i += 1
    if i == 3:
        continue # 자기 자신의 반복문으로 가는 것.
        if i == 6:
            break
        print(i)

In [ ]:
# com random 1 ~ 100
# user 값 맞추기.