In [1]:
print("hello world")

hello world

In [3]:
a = 111111111111111111111111111111111111111111111111111111111111111111111111111111111
a

111111111111111111111111111111111111111111111111111111111111111111111111111111111

In [5]:
import this

In [6]:
import turtle as t
t.shape('turtle')

In [1]:
shape = 8
for i in range(shape):
    t.forward(100)

NameError: name 't' is not defined

In [6]:
print(t) #값을 보는 함수
id(t) #주소 보는 함수
type(t) #타입 보는 함수

NameError: name 't' is not defined

In [10]:
var1='hello world' # '',""
var1

'hello world'

In [13]:
var2 = None

In [14]:
print(var3)

NameError: name 'var3' is not defined

In [16]:
id(var1)

2768264015344

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [20]:
var1 = 'hellow world'
print(type(var1))
type(var1)

<class 'str'>

str

In [22]:
var2 = 100.0
print(type(var2))

<class 'float'>

In [25]:
var3 = True
print(type(var3))

<class 'bool'>

In [27]:
'1' + str(1)

'11'

In [29]:
'*' * 5

'*****'

In [31]:
'lbh' * 5

'lbhlbhlbhlbhlbh'

In [33]:
2 ** 2

4

In [35]:
10 ** 2

100

In [38]:
5/3, 5//3, 5%3

(1.6666666666666667, 1, 2)

In [41]:
=, *

SyntaxError: invalid syntax (3519662242.py, line 1)

In [46]:
i = tot = 10
i += 1 # i = i+1
tot += i
i, tot

(11, 21)

In [49]:
v1 = 10
v2 = 20

v1,v2

(10, 20)

In [53]:
temp = v1
v1 = v2
v2 = temp

v1, v2

(10, 20)

In [56]:
v1,v2 = v2,v1

In [58]:
v1,v2 = v2,v1
v1,v2

(20, 10)

In [62]:
lst = [1,2,3,4,5]
v1,*v2 = lst

In [3]:
#(v1, v2) = (v2, v1)

In [7]:
i = input('숫자를 넣으세요 >>')

숫자를 넣으세요 >>test

In [8]:
i

'test'

In [9]:
type(i)

str

In [10]:
i = int(input('숫자를 넣으세요'))
i, type(i)

숫자를 넣으세요51

(51, int)

In [11]:
num2 = float(input('>>'))

>>124

In [12]:
num2

124.0

In [13]:
print(1,2,3)

1 2 3

In [14]:
print(1,2,3, sep='|')
print(1,2,3)

1|2|3
1 2 3

In [17]:
print('*', end ='')
print('*')

**

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
print('value = ', 10,20)

value =  10 20

In [20]:
# 3가지 양식을 만드는 방법 + format()
format(3.14159, '8.3f')

'   3.142'

In [25]:
print(format(33800000000, '3.d'))

ValueError: Format specifier missing precision

In [28]:
dan = 2
n = 1
str(dan) + '*' + str(n) + '=' + str(dan*n)

'2*1=2'

In [38]:
dan = 2
n =1

print(str(dan) + '*' + str(n) + '=' + str(dan*n))

# %
f1 = '%s *%s = %s'
print(f1 % (dan, n, dan*n))

# '{}'.format()
f2 = '{0} *{1} = {2}'
print(f2.format(dan,n,dan*n))

# f'{v}'
f3 = f'{dan} *{n} = {dan*n}'
print(f3)

2*1=2
2 *1 = 2
2 *1 = 2
2 *1 = 2

In [32]:
print('%d,%o,%x :' % (10, 10, 10))
# 여러개 넣을 때는 가로

10,12,a :

In [39]:
uid = input('id input:')
query = f'select * form member id = {uid}'
print(query)

id input:lbh
select * form member id = lbh

In [40]:
"aaa", 'bbbb', """cccc""", '''dddd''',str(3333)

('aaa', 'bbbb', 'cccc', 'dddd', '3333')

In [42]:
s = '''선택하세요.
1.select
2.insert
3.update
'''

In [43]:
s

'선택하세요.\n1.select\n2.insert\n3.update\n'

In [44]:
print(s)

선택하세요.
1.select
2.insert
3.update

In [46]:
string="python"

In [51]:
string[0], string[1],string[2], string[-1], string [-2]

('p', 'y', 't', 'n', 'o')

In [52]:
# : [0:1]

In [54]:
s= 'this is one line string'

In [55]:
print(s)

this is one line string

In [58]:
s1 = s[:]
s2 = s
id(s1), id(s2)

(3000875058160, 3000875058160)

In [59]:
s1 is s2

True

In [62]:
s1 = s[10:]
s2 = s
id(s1), id(s2)

(3000882614384, 3000875058160)

In [64]:
lst = [1,2,3]
lst[0], lst[1],lst[2]
lst[:2]
lst1 = lst
lst2 = lst[:]
lst3 = lst.copy()
lst1 is lst2

print(type(lst))

<class 'list'>

In [69]:
s.count('t')

2

In [72]:
s.replace('this', 'that')

'that is one line string'

In [73]:
s2 = s.replace('this', 'that')

In [75]:
s

'this is one line string'

In [74]:
s2

'that is one line string'

In [84]:
lines = '''this is
multi line
string'''
lines

'this is\nmulti line\nstring'

In [85]:
lines.split('\n')

['this is', 'multi line', 'string']

In [86]:
for i in lines.split('\n'):
    print(i)

this is
multi line
string

In [88]:
print('출력\n,\t')

출력
,

In [89]:
print(r'출력 \n 입력')
print('path=', 'c:\python\test')
print('path=', r'c:\python\test')

출력 \n 입력
path= c:\python	est
path= c:\python\test

In [ ]:
#con = '''
if 조건식'''

In [90]:
string = "나는 홍길동 입니다."
for c in string :
    print(c, end = '')

나는 홍길동 입니다.