In [1]:
i = tot = 10
i += 1
tot += i
print (i, tot)

11 21

In [3]:
v1 = 10
v2 = 20

v2, v1 = v1, v2
print(v1, v2)

20 10

In [4]:
v1, v2

(20, 10)

In [8]:
lst = [1,2,3,4,5]
v1, *v2 = lst
print(v1, v2)

1 [2, 3, 4, 5]

In [9]:
v1, v2, *v3 = lst
print(v1, v2, v3)

1 2 [3, 4, 5]

In [19]:
v1, v2, *v3 = lst
print(v1,v2,v3)

1 2 [3, 4, 5]

In [21]:
*v1, v2, v3 = lst
print(v1,v2,v3)

[1, 2, 3] 4 5

In [22]:
num = input("숫자입력 : ")
print('num type : ', type(num))
print('num = ', num)
print('num = ', num*2)

숫자입력 : 3
num type :  <class 'str'>
num =  3
num =  33

In [23]:
num = input()
print('num type : ', type(num))
print('num = ', num)
print('num = ', num*2)

r
num type :  <class 'str'>
num =  r
num =  rr

In [25]:
num = input('QbQb')
print('num type : ', type(num))
print('num = ', num)
print('num = ', num*2)

QbQbasd
num type :  <class 'str'>
num =  asd
num =  asdasd

In [26]:
inputnum = input('인풋 값의 변수는 s')
inputnum += 2
print(inputnum)

인풋 값의 변수는 ss

TypeError: can only concatenate str (not "int") to str

In [27]:
inputnum = input('인풋 값의 변수는 s')
inputnum += 2
print(inputnum)

인풋 값의 변수는 s2

TypeError: can only concatenate str (not "int") to str

In [31]:
inputnum = int(input('인풋 값의 변수는 s'))
inputnum += 2
print(inputnum)

인풋 값의 변수는 s2
4

In [32]:
print("value = ", 10+20+30+40+50)

value =  150

In [33]:
print("010", "1234", "5678", sep="&")

010&1234&5678

In [35]:
print("010"
      "1234"
      "5678")

01012345678

In [36]:
print("010""1234""5678")

01012345678

In [39]:
print("value =", 10, end = ", ")


print("value =", 20)

value = 10, value = 20

In [41]:
print(format(3.2,'8.3f') )

   3.200

In [42]:
print('원주율 = ', format(3.14159, '8.3f'))

원주율 =     3.142

In [43]:
num1 = 10; num2 = 20
tot = num1 + num2
print('10 + 20 = %d' %tot ) 
print('%d + %d = %d' %(num1, num2, tot) )
print('이름은 %s 이고, 나이는 %d 입니다.' %('홍길동', 35))

10 + 20 = 30
10 + 20 = 30
이름은 홍길동 이고, 나이는 35 입니다.

In [47]:
print('전체 %d%%가 170cm 이상이다.' %50)

전체 50%가 170cm 이상이다.

In [48]:
# 외부 상수 받기
# 형식) print( '{ }' .format(값) )

In [49]:
print('이름은 {} 이고, 나이는 {} 입니다.' .format('홍길동', 35))
print('이름은 {1} 이고, 나이는 {0} 입니다.' .format(35, '홍길동'))

이름은 홍길동 이고, 나이는 35 입니다.
이름은 홍길동 이고, 나이는 35 입니다.

In [50]:
name = "홍길동"; age = 35
print(f'이름은 {name} 이고, 나이는 {age} 입니다.')

이름은 홍길동 이고, 나이는 35 입니다.

In [55]:
name = "홍길동"
age = 35
print('이름은 {'name'} 이고, 나이는 {'age'} 입니다.')

SyntaxError: invalid syntax (1297891499.py, line 3)

In [56]:
name = "홍길동"
age = 35
print(f'이름은 {name} 이고, 나이는 {age} 입니다.')

이름은 홍길동 이고, 나이는 35 입니다.

In [ ]:
# 축약형으로 Sql 쿼리만들기

In [57]:
uid = input("id input : ")
query = f"select * from member uid = {uid}"
print(query)

id input : lbh
select * from member uid = lbh

In [60]:
oneLine = 'this is one line string'
oneLine2 = "this is one line string"

multiLine = """this is
multi line
string"""

multiLine2 ="this is\nmulti line\nstring"

print(oneLine)
print(oneLine2)
print(multiLine)
print(multiLine2)

this is one line string
this is one line string
this is
multi line
string
this is
multi line
string

In [61]:
string = "PYTHON"
print(string[0])
print(string[5])
print(string[-1])
print(string[-6])

P
N
N
P

In [62]:
print("python" + " program") # 결합연산자

python program

In [63]:
print("python-" + 3.7 + ".exe") # error

TypeError: can only concatenate str (not "float") to str

In [64]:
print("python-" + str(3.7) + ".exe")

python-3.7.exe

In [65]:
print("*" * 30)

******************************

In [68]:
oneLine = 'this is one line string'
oneLine

'this is one line string'

In [69]:
# 왼쪽 기준
print(oneLine)
print("문자열 길이 : ", len(oneLine))
print(oneLine[0:4]) # [start:end-1] - this
print(oneLine[:4]) # [:end-1] : 처음부터 ~
print(oneLine[:]) # 전체 원소 : this is one line string
print(oneLine[::2]) # 2의 배수 index : ti soeln tig

this is one line string
문자열 길이 :  23
this
this
this is one line string
ti soeln tig

In [71]:
# 오른쪽 기준
print(oneLine)
print(oneLine[0:-1:2])
print(oneLine[-6:-1]) # strin
print(oneLine[-1:-6:-2])
print(oneLine[-6:]) # [start:end] - string

this is one line string
ti soeln ti
strin
git
string

In [76]:
for x in range(1, 4):
    print('[{0:2d}] [{1:3d}] [{2:4d}]'.format(x, x*x, x*x*x))
print()

[ 1] [  1] [   1]
[ 2] [  4] [   8]
[ 3] [  9] [  27]

In [92]:
# 오른쪽 기준
print(oneLine)
print(oneLine[0::2])
print(oneLine[0:-1:4])

this is one line string
ti soeln tig
t ol i

In [93]:
# 부분 문자열 생성
subString = oneLine[-11:]
print(subString) # line string

line string

In [94]:
# 특정 글자 수 반환
oneLine = "this is one line string"
print('t 글자 수 : ', oneLine.count('t'))

t 글자 수 :  2

In [95]:
# 접두어 문자 비교 판단
print(oneLine.startswith('this'))
print(oneLine.startswith('that'))

True
False

In [96]:
# 문자열 교체
print(oneLine.replace('this', 'that'))
oneLine # 바뀌지 않았음

that is one line string

'this is one line string'

In [97]:
# 문자열 분리(split) : 문단 -> 문장
multiLine = """this is
multi line
string"""
sent = multiLine.split('\n')
print('문장 : ', sent)

문장 :  ['this is', 'multi line', 'string']

In [98]:
# 문자열 분리(split)2 : 문장 -> 단어
words = oneLine.split()  # split(sep = ' ') : default
print('단어 :', words)  # ['this', 'is', 'one', 'line', 'string']

단어 : ['this', 'is', 'one', 'line', 'string']

In [99]:
# 문자열 결합(join) : 단어들 -> 문장
sent2 = ','.join(words) # '구분자'.join(string) : 'this is',
print(sent2) # this,is,one,line,string
print(type(sent2))

this,is,one,line,string
<class 'str'>

In [ ]:
# escape 처리

In [100]:
print('\n출력 이스케이프 문자') # \n : 줄 바꿈 기능
print('\\n출력 이스케이프 차단1') # escape 기능 차단1 - \
print(r'\n출력 이스케이프 차단2') # escape 기능 차단2

출력 이스케이프 문자
\n출력 이스케이프 차단1
\n출력 이스케이프 차단2

In [101]:
#경로 표현  : C:\Python\test
print('path =', 'C:\Python\test')
print('path =', 'C:\\Python\\test')
print('path =', r'C:\Python\test')

path = C:\Python	est
path = C:\Python\test
path = C:\Python\test

con = '''
if 조건식:
  실행문
  실행문
'''

In [103]:
num = int(input('점수 입력(1~100) : '))
print('num = ', num)

점수 입력(1~100) : 1
num =  1

In [104]:
if num % 2 != 0 :
    print('홀수')
else :
    print('짝수')

홀수