In [1]:
# system 날짜/시간 모듈(*.py)
import datetime

In [2]:
today = datetime.datetime.now() # package.module.function()
print(today)

2022-06-16 21:36:35.628406

In [3]:
print(type(today)) # <class 'datetime.datetime'

<class 'datetime.datetime'>

In [4]:
day = today.weekday()

In [5]:
print(day) # 0~6(1)

3

In [6]:
if day >= 5 :
    print('주말')
else :
    print('평일')

평일

In [7]:
num = int(input('점수 입력(1~100) : '))
print('num = ', num)

if num % 2 != 0 :
    print('홀수')
else :
    print('짝수')

점수 입력(1~100) : 40
num =  40
짝수

In [8]:
# 문) num 변수 대상 -> 등급 계산(A:100~90,B:89~80,C:79~70,D:69~60,F:60미만 학점)
# 출력 형식 => 점수 : 85, 등급 : B

In [27]:
num = int(input('점수 입력 : '))
print(num)
grade = "" # 공백
if num >= 90 :
    grade = "A"
elif num >= 80 :
    grade = "B"
elif num >= 70 :
    grade = "C"
elif num >= 60 :
    grade = "D"
else :
    grade = "F"
    
print(f"점수 : {num}, 등급 : {grade}")
print("점수 : %d, 등급 : %s"%(num, grade))

점수 입력 : 85
85
점수 : 85, 등급 : B
점수 : 85, 등급 : B

In [28]:
if num >= 60 :
    grade ="합격"
else :
    grade ="불합격" 
grade

'합격'

In [29]:
grade =  "합격"  if num >= 60 else "불합격"
print('3항 연산자 : ', grade) # 3항 연산자 :  합격

3항 연산자 :  합격

In [30]:
s = input("문자열 입력 : ")

# 단어 검색
if '홍길동' in s :
    print('\'홍길동\' 단어 있음')
else :
    print('\'홍길동\' 단어 없음')

문자열 입력 : 홍길동은 차겁습니다.
'홍길동' 단어 있음

In [31]:
s = input("문자열 입력 : ")

# 단어 검색
if '홍길동' in s :
    print('\'홍길동\' 단어 있음')
else :
    print('\'홍길동\' 단어 없음')

문자열 입력 : 홍길동동
'홍길동' 단어 있음

In [32]:
s = input("문자열 입력 : ")

# 단어 검색
if '홍길동' in s :
    print('\'홍길동\' 단어 있음')
else :
    print('\'홍길동\' 단어 없음')

문자열 입력 :
'홍길동' 단어 없음

In [33]:
s = input("문자열 입력 : ")

# 단어 검색
if 'asi' in s :
    print('\'홍길동\' 단어 있음')
else :
    print('\'홍길동\' 단어 없음')

문자열 입력 : as i
'홍길동' 단어 없음

In [34]:
idx = tot = 0

In [35]:
while idx < 5 : # 0 < 5    # True : loop(명령문 집합)- 수행
    idx += 1 # 카운터 변수
    tot += idx # 누적변수 : tot = tot + idx
    print(idx, tot)

print(idx, tot) # 5 10

1 1
2 3
3 6
4 10
5 15
5 15

In [36]:
# 1 ~ 100 까지 3의 배수 합과 원소 추출하기
cnt = tot = 0
dataset = []  # 빈 list

In [38]:
while cnt < 100:  # 100회 반복
    cnt += 1  # 카운터
    if cnt % 3 == 0:
        tot += cnt  # 누적변수
        dataset.append(cnt)  # 3차 작성
print('1 ~ 100사이 3의 배수 합 = %d' % tot)  # 1683
print('dataset =', dataset)  # [3, 6, 9, ... 99]

1 ~ 100사이 3의 배수 합 = 1683
dataset = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

문1) 1~100 사이에서 5의 배수이면서(and) 3의 배수가 아닌 합 계산하기

In [40]:
i = tot = 0

In [42]:
dataset = []  # 빈list
print('dataset =', dataset)  # [3, 6, 9, ... 99]

dataset = []

In [48]:
while i < 100:
    i += 1
    if i % 5 == 0 and i % 3 != 0:
        dataset.append(i)
        print(i)
        tot += i

In [51]:
print('tot = %d' % tot)  # tot = 867

tot = 735

In [50]:
print()
print('dataset :', dataset)

dataset : [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]