In [1]:
var1 = "Hello python"

In [2]:
print(var1)
print( id(var1))

Hello python
1905125925232

In [3]:
var2 = 150.25
print(var2)
print(id(var2))

150.25
1905125844720

In [4]:
var3 = True
print(var3)

True

In [5]:
print(id(var3))

140719832662848

In [6]:
#예약어 확인 >> 또는 키워드란 문법 적으로 사용 되면 안되는 단어들..
import keyword # 모듈 임포트
python_keyword = keyword.kwlist
print(python_keyword)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
var1="hello python"
print(var1)
print(type(var1))

hello python
<class 'str'>

In [8]:
var1 = 100
print(var1)
print(type(var1))

100
<class 'int'>

In [10]:
var2 = 150.25
print(var2)
print(type(var2))

150.25
<class 'float'>

In [12]:
var3 = False
print(var3)
print(type(var3))

False
<class 'bool'>

In [13]:
a = int(10.5)
b = int(20.42)
add = a+b
print(add)

30

In [14]:
# 정수를 실수로 바꾸자.
a=float(10)
b=float(20)
add2 = a+b
print(add2)

30.0

In [16]:
# 논리형을 정수로 바꾸자.
print(int(True))
print(int(False))

1
0

In [18]:
st = '10'
print(int(st)**2)

100

In [22]:
num1 = 100
num2 = 20

In [27]:
add = num1 +num2
print('add =',add)

add = 120

In [29]:
sub=num1 -num2
print('sub=',sub)

sub= 80

In [30]:
mul = num1*num2
print('mul=', mul)

mul= 2000

In [31]:
div=num1/num2
print('div=',div)

div= 5.0

In [33]:
div2 = num1%num2
print('div2=',div2)

div2= 0

In [34]:
square=num1**2
print('square=',square)

square= 10000

In [37]:
#동등비교
# 두 변수의 값이 같은지 비교
bool_result = num1 == num2
print(bool_result)

bool_result = num1 !=num2
print(bool_result)

False
True

In [40]:
bool_result=num1>num2
print(bool_result)
bool_result=num1>=num2
print(bool_result)
bool_result=num1<num2
print(bool_result)
bool_result=num1<=num2
print(bool_result)

True
True
False
False

In [42]:
log_result = num1>= 50 and num2 <=10
print(log_result)

False

In [43]:
log_result = num1>= 50 or num2 <=10
print(log_result)

True

In [44]:
log_result = num1 >=50
print(log_result)

True

In [45]:
log_result = not(num1>=50)
print(log_result)

False

In [46]:
i = tot = 10
i += 1
tot += i
print(i,tot)

11 21

In [47]:
cnt = 0
cnt = cnt + 1
cnt += 1
print(cnt)

2

In [4]:
cnt = 0
tot = 0
tot += cnt
print(tot)

0