## 파이썬 자료구조
- 열거형 객체 : 하나의 메모리 영역에 여러 개의 자료가 나열된 집합 자료구조
- 자료구조 : 열거형 객체가 메모리에 배정될 때 기억공간에 적재되는 구조
- 순서가 있는 자료구조와 순서가 없는 자료구조로 구분
### 순서 있는 자료구조 Sequence Data Structure
- str, list, tuple 클래스
### str
- 문자들의 모음
- 일정한 순서를 갖는다.
- 색인을 이용하여 원소를 참조할 수 있다.

In [56]:
# str 클래스 형식
str_var = str(object='string')
print(str_var)
print(type(str_var))
print(str_var[0])
print(str_var[-1])

string
<class 'str'>
s
g

In [57]:
# str 클래스 간편 형식
str_var2 = 'string'
print(str_var2)
print(type(str_var2))
print(str_var2[0])
print(str_var2[-1])

string
<class 'str'>
s
g

### list [] or list()
- 1차원 배열 구조
    - 형식) list변수 = [값1, 값2,..]
- 다양한 자료형 저장 가능
- index 사용(순서 있음)
    - 형식) list변수[index]
- 값 수정(추가,삽입,수정,삭제)

In [58]:
#help(list) # Help on class list in module builtins:

In [59]:
# 단일 list 예
lst = [1,2,3,4,5]
print(lst)
print(type(lst))
for i in lst :
    print(lst[:i]) # i 전까지

[1, 2, 3, 4, 5]
<class 'list'>
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [60]:
for i in lst :
    print(lst[i-1: ])

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]

In [61]:
x = list(range(1, 11))
print(x)
print(x[:5]) # [1, 2, 3, 4, 5]
print(x[-5:]) # [96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [62]:
print(x[3:5])

[4, 5]

In [63]:
print('index 2씩 증가 ')
print(x[::2]) # 홀수 
print(x[1::2]) # 짝수(index 1부터 시작)

index 2씩 증가
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [64]:
print(x[1::2])

[2, 4, 6, 8, 10]

In [65]:
print(x[1::2])

[2, 4, 6, 8, 10]

### 아래 중요. 중첩 list 생성

In [66]:
a = ['a', 'b', 'c']  # list 생성 
b = [10, 20, a, 5, True, '문자열'] # 서로 다른 type 가능
print(b[0]) # 10
print(b[2]) # ['a', 'b', 'c'] -> 중첩 list 
print(b[2][0]) # a  -> 중첩 list 1번 원소 
print(b[2][1:]) # ['b', 'c'] -> 중첩 list 2번 이후 원소

10
['a', 'b', 'c']
a
['b', 'c']

In [67]:
# 자료구조 확인
print(type(a), type(b)) # <class 'list'>
print(id(a), id(b)) # 40648584 40647432

<class 'list'> <class 'list'>
2429544634816 2429542972800

In [68]:
# 추가,삭제,수정,삽입
num = ['one', 'two', 'three', 'four']

print(num) # ['one', 'two', 'three', 'four']
print(len(num)) # 4

num.append('five') # 추가
print(num) # ['one', 'two', 'three', 'four', 'five']

num.remove('five') # 삭제 
print(num)

num[3] = '4' # 수정 
print(num)

['one', 'two', 'three', 'four']
4
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four']
['one', 'two', 'three', '4']

In [69]:
# list 결합 
x =  [1, 2, 3, 4]
y = [1.5, 2.5]
z = x + y  # new object
print(z) # [1, 2, 3, 4, 1.5, 2.5]

[1, 2, 3, 4, 1.5, 2.5]

In [70]:
# list 확장 
x.extend(y)  # x 확장 
print(x) # [1, 2, 3, 4, 1.5, 2.5]

[1, 2, 3, 4, 1.5, 2.5]

In [71]:
# list 추가 
x.append(y) # x 추가 
print(x) # [1, 2, 3, 4, 1.5, 2.5, [1.5, 2.5]]

[1, 2, 3, 4, 1.5, 2.5, [1.5, 2.5]]

In [72]:
# list 제곱  
lst = [1, 2, 3, 4] # list 생성

# lst 원소를 2개씩 생성하여 result 저장
result = lst * 2 # 각 원소 연산 안됨 
print(result) # [1, 2, 3, 4, 1, 2, 3, 4]

[1, 2, 3, 4, 1, 2, 3, 4]

In [73]:
# list 사칙연산 : 원소 대상 
print('1.5 * 2 = ', y[0] * 2) # 1.5 * 2 =  3.0

1.5 * 2 =  3.0

In [74]:
# list 정렬과 원소 찾기
print(result) # [1, 2, 3, 4, 1, 2, 3, 4]

result.sort() # 오름차순 정렬 
print(result) #[1, 1, 2, 2, 3, 3, 4, 4]

result.sort(reverse = True) # 내림차순 정렬 
print(result) # [4, 4, 3, 3, 2, 2, 1, 1]

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 1, 2, 2, 3, 3, 4, 4]
[4, 4, 3, 3, 2, 2, 1, 1]

In [75]:
print(result)

[4, 4, 3, 3, 2, 2, 1, 1]

In [76]:
# list에서 원소 찾기
tmp='''
if '원소' in list : 
    참 실행문 : list에 '원소' 포함 
else :
    거짓 실행문 : 미 포함 
'''

In [77]:
import random

r = []
for i in range(5) :
    r.append(random.randint(1,5))

print(r)
    
if 4 in r :
    print('있음')
else :
    print('없음')

[5, 1, 4, 3, 2]
있음

리스트 내포
- list에 for문 포함
- 형식1) 변수 = [ 실행문 for ]
    - 실행순서 : 1.for문 > 2.실행문 > 3.변수 저장
- 형식2) 변수 = [ 실행문 for if ]
    - 실행순서 : 1.for문 > 2.if > [3.실행문 > 4.변수 저장]

In [78]:
# x변량에 제곱 계산
x = [2,4,1,5,7]
# print(x ** 2) # error

In [79]:
lst = [ i ** 2   for i in x ]
print(lst) # [4, 16, 1, 25, 49]

[4, 16, 1, 25, 49]

In [ ]:
# 1~10 -> 2의 배수 추출 -> i*2 -> list 저장
lst2 = [
    i*2 for i in num
    if i % 2 == 0  ]
print(lst2)

### tuple () or tuple()
- 순서존재(index 사용 가능)
- 수정 불가
- 문자열 원소 표현
- list 속도 빠름
- 제공 함수 없음
- 형식) (원소1, 원소2, ...n) : () 생략 가능

In [83]:
#help(tuple) # Help on class tuple in module builtins

In [84]:
# 단일 인수
t = 10 ; t1 = (10, )
t = (10)

print(t)
print(t, t1) # 10 (10,)

10
10 (10,)

In [85]:
# 여러개 인수
t2 = (1,2,3,4,5,3)
print(t2) # (1, 2, 3, 4, 5, 3)

(1, 2, 3, 4, 5, 3)