## 파이썬 자료구조
- 열거형 객체 : 하나의 메모리 영역에 여러 개의 자료가 나열된 집합 자료구조
- 자료구조 : 열거형 객체가 메모리에 배정될 때 기억공간에 적재되는 구조
- 순서가 있는 자료구조와 순서가 없는 자료구조로 구분
### 순서 있는 자료구조 Sequence Data Structure
- str, list, tuple 클래스
#### str
- 문자들의 모음
- 일정한 순서를 갖는다.
- 색인을 이용하여 원소를 참조할 수 있다.

In [1]:
# str 클래스 형식
str_var = str(object='string')
print(str_var)
print(type(str_var))
print(str_var[0])
print(str_var[-1])

string
<class 'str'>
s
g

In [2]:
# str 클래스 간편 형식
str_var2 = 'string'
print(str_var2)
print(type(str_var2))
print(str_var2[0])
print(str_var2[-1])

string
<class 'str'>
s
g

list [ ] or list()
- 1차원 배열 구조
    - 형식) list변수 = [값1, 값2,..]
- 다양한 자료형 저장 가능
- index 사용(순서 있음)
    - 형식) list변수[index]
- 값 수정(추가,삽입,수정,삭제)

단일 list

In [3]:
# 단일 list 예
lst = [1,2,3,4,5]
print(lst)
print(type(lst))
for i in lst :
    print(lst[:i]) # i 전까지

[1, 2, 3, 4, 5]
<class 'list'>
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [4]:
for i in lst :
    print(lst[i-1: ])

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]

In [5]:
x = list(range(1, 11))
print(x)
print(x[:5]) # [1, 2, 3, 4, 5]
print(x[-5:]) # [96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [9]:
print('index 2씩 증가 ')
print(x[::2]) # 홀수 
print(x[1::2]) # 짝수(index 1부터 시작)

index 2씩 증가
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

중첩 list 생성

In [10]:
a = ['a', 'b', 'c']  # list 생성 
b = [10, 20, a, 5, True, '문자열'] # 서로 다른 type 가능
print(b[0]) # 10
print(b[2]) # ['a', 'b', 'c'] -> 중첩 list 
print(b[2][0]) # a  -> 중첩 list 1번 원소 
print(b[2][1:]) # ['b', 'c'] -> 중첩 list 2번 이후 원소

10
['a', 'b', 'c']
a
['b', 'c']

In [11]:
# 자료구조 확인
print(type(a), type(b)) # <class 'list'>
print(id(a), id(b)) # 40648584 40647432

<class 'list'> <class 'list'>
1602522780224 1602522767744

In [12]:
# 추가,삭제,수정,삽입
num = ['one', 'two', 'three', 'four']

print(num) # ['one', 'two', 'three', 'four']
print(len(num)) # 4

num.append('five') # 추가
print(num) # ['one', 'two', 'three', 'four', 'five']

num.remove('five') # 삭제 
print(num)

num[3] = '4' # 수정 
print(num)

['one', 'two', 'three', 'four']
4
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four']
['one', 'two', 'three', '4']

list 연산

In [13]:
# list 결합 
x =  [1, 2, 3, 4]
y = [1.5, 2.5]
z = x + y  # new object
print(z) # [1, 2, 3, 4, 1.5, 2.5]

[1, 2, 3, 4, 1.5, 2.5]

In [14]:
print(num)

['one', 'two', 'three', '4']

In [15]:
num.append('five')

In [16]:
print(num)

['one', 'two', 'three', '4', 'five']

In [17]:
# list 확장 
x.extend(y)  # x 확장 
print(x) # [1, 2, 3, 4, 1.5, 2.5]

[1, 2, 3, 4, 1.5, 2.5]

In [18]:
# list 추가 
x.append(y) # x 추가 
print(x) # [1, 2, 3, 4, 1.5, 2.5, [1.5, 2.5]]

[1, 2, 3, 4, 1.5, 2.5, [1.5, 2.5]]

In [19]:
# list 제곱  
lst = [1, 2, 3, 4] # list 생성

# lst 원소를 2개씩 생성하여 result 저장
result = lst * 2 # 각 원소 연산 안됨 
print(result) # [1, 2, 3, 4, 1, 2, 3, 4]

[1, 2, 3, 4, 1, 2, 3, 4]

In [20]:
# list 사칙연산 : 원소 대상 
print('1.5 * 2 = ', y[0] * 2) # 1.5 * 2 =  3.0

1.5 * 2 =  3.0

In [21]:
# list 정렬과 원소 찾기
print(result) # [1, 2, 3, 4, 1, 2, 3, 4]

result.sort() # 오름차순 정렬 
print(result) #[1, 1, 2, 2, 3, 3, 4, 4]

result.sort(reverse = True) # 내림차순 정렬 
print(result) # [4, 4, 3, 3, 2, 2, 1, 1]

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 1, 2, 2, 3, 3, 4, 4]
[4, 4, 3, 3, 2, 2, 1, 1]

In [22]:
# list에서 원소 찾기
tmp='''
if '원소' in list : 
    참 실행문 : list에 '원소' 포함 
else :
    거짓 실행문 : 미 포함 
'''

In [23]:
import random

r = []
for i in range(5) :
    r.append(random.randint(1,5))

print(r)
    
if 4 in r :
    print('있음')
else :
    print('없음')

[2, 5, 3, 4, 1]
있음

### 리스트 내포
- list에 for문 포함
- 형식1) 변수 = [ 실행문 for ]
    - 실행순서 : 1.for문 > 2.실행문 > 3.변수 저장
- 형식2) 변수 = [ 실행문 for if ]
    - 실행순서 : 1.for문 > 2.if > [3.실행문 > 4.변수 저장]

In [24]:
# x변량에 제곱 계산
x = [2,4,1,5,7]
# print(x ** 2) # error

In [25]:
lst = [ i ** 2   for i in x ]
print(lst) # [4, 16, 1, 25, 49]

[4, 16, 1, 25, 49]

In [2]:
# 추가,삭제,수정,삽입
num = ['one', 'two', 'three', 'four']

print(num) # ['one', 'two', 'three', 'four']
print(len(num)) # 4

num.append('five') # 추가
print(num) # ['one', 'two', 'three', 'four', 'five']

num.remove('five') # 삭제 
print(num)

num[3] = '4' # 수정 
print(num)

['one', 'two', 'three', 'four']
4
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four']
['one', 'two', 'three', '4']

In [7]:
# 1~10 -> 2의 배수 추출 -> i*2 -> list 저장
num = [1,2,3,4,5,6,7,8,9,10]
lst2 = [ i*2  for i in num  if i % 2 == 0  ]
print(lst2)

[4, 8, 12, 16, 20]

#### tuple () or tuple()
- 순서존재(index 사용 가능)
- 수정 불가
- 문자열 원소 표현
- list 속도 빠름
- 제공 함수 없음
- 형식) (원소1, 원소2, ...n) : () 생략 가능

In [9]:
#help(tuple) # Help on class tuple in module builtins

In [14]:
# 단일 인수
t = 10 ; t1 = (10, )
t = 10
t = (10)
print(t)
print(t, t1) # 10 (10,)

10
10 (10,)

In [15]:
# 여러개 인수
t2 = (1,2,3,4,5,3)
print(t2) # (1, 2, 3, 4, 5, 3)

(1, 2, 3, 4, 5, 3)

In [16]:
# index
print(t2[0], t2[1:4], t2[-1]) # 1 (2, 3, 4) 5

1 (2, 3, 4) 3

In [17]:
#  수정 불가 
# t2[0] = 10 # error

In [18]:
for i in t2 :
    print(i, end=' ')

1 2 3 4 5 3

In [19]:
# 요소 검사
if 6 in t2 :
    print("6 있음")
else :
    print("6 없음")

6 없음

In [22]:
# tuple 함수
lst = list(range(1,6))
t3 = tuple(lst)
print(t3) # (1, 2, 3, 4, 5, 3)
print(len(t3), type(t3)) # 5 <class 'tuple'>
print(t3.count(3)) # 1
print(t3.index(4)) # 4의 색인 위치 값 -> 3

(1, 2, 3, 4, 5)
5 <class 'tuple'>
1
3

순서 없는 자료구조 None-Sequence Data Structure

- set, dict 클래스
#### set {} or set()
- 순서 없음, 중복 허용 불가
- 형식) 변수 = {값1, 값2,...}
- 집합 개념

In [23]:
# 중복 불가
s = {1,3,5,3,1}
print(len(s)) # 3
print(s) # {1, 3, 5}

3
{1, 3, 5}

파이썬의 자료 구조는 순서가 있는 자료구조와 없는 자료 구조로 나눌수 있구나!

In [24]:
# for + set 이용
for d in s :
    print(d, end=' ')  # 1 3 5

1 3 5

In [26]:
s = {1,3,5,3,1}

In [27]:
# 집합관련 함수
s2 = {3, 6}
print(s.union(s2)) # 합집합 : s + s2 = {1, 3, 5, 6}
print(s.difference(s2)) # 차집합 : s - s2 = {1, 5}
print(s.intersection(s2)) # 교집합 : {3}

{1, 3, 5, 6}
{1, 5}
{3}

In [28]:
# 추가, 수정, 삭제 함수
s3 = {1, 3, 5}
print(s3)

{1, 3, 5}

In [29]:
# 원소 추가 
s3.add(7) 
print(s3) # {1, 3, 5, 7}

{1, 3, 5, 7}

In [30]:
# 원소 수정
s3.update([5, '다섯'])
print(s3)

{1, 3, 5, 7, '다섯'}

In [31]:
# 원소 삭제
s3.discard(3) 
print(s3) # {1, 5, 7}

{1, 5, 7, '다섯'}

In [32]:
# 중복 데이터 제거
gender = ['남','여','남','여']
sgender = set(gender) # list -> set
lgender = list(sgender) # set -> list
print(lgender) # ['남', '여']

print(lgender[1])

['남', '여']
여

#### dict {k:v}, dict()
- {'key':value, 'key':value, ...}
- json 형식, R의 list 동일
- key 접근만 가능함(index, value 사용 불가)
- key 중복 불가
- 출력 순서 random

##### dict 생성 방법1